

.wrapper{
    // overflow-x: hidden;
    position: relative;
}

.information__container{
    height: 100vh;
    width: 200vw;
    display: flex;
}

#component{
    width: 100vw;
    height: 100vh;
  }