// @import '../../scss/abstracts/variables.scss';

.wrapper{
    overflow: hidden;
    position: relative;
}

.information__container{
    height: 100vh;
    width: 200vw;
    display: flex;
    flex-shrink: 2;
}

.information__filter{
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0%, 0%);
    width: 100%;
    height: 100vh;
    z-index: 1;
    backdrop-filter: blur(100px);  
    -webkit-backdrop-filter: blur(100px);
}

#component{
    width: 100vw;
  }