@import '../../scss/abstracts/variables.scss';
@import '../../scss/abstracts/mixins.scss';


.portfolio__container{
    z-index: 10;
    width: 100vw;
    height: 100%;
    @include centerDivsCol;
    background-color: rgba($midnight-black, .5);
    
    .portfolio__wrapper{
        @include centerDivsCol;
        @include containerWidth;
        align-items: flex-start;    
        width: 70%;
        margin: auto;

        .portfolio__description{
            h2{
                @include sectionTitle;
            }
            p{
                @include sectionParagraph;
            }
            .portfolio__contact_redirection{
                color: $light-gray;
                text-decoration: underline;
                cursor: pointer;
            }
        }

        .portfolio__cards_container{
            @include centerDivsRow;
        }
    }
}