// @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');


// =============== FONTS ===============

// $montserrat: 'Montserrat', sans-serif;
$montserrat: 'Inter', sans-serif;
$bebas: 'Bebas Neue', cursive;



// =============== COLORS ===============

$primary-color: #38a2d7;
$secondary-color: #561139;
$background-color: #121212;
$text-color-light: #E4E4E4;
$text-color-gray: #CACACA;