@import '../../scss/abstracts/variables.scss';
@import '../../scss/abstracts/mixins.scss';

.contact__container{
    
    width: 100vw;
    height: 100vh;
    @include centerDivsCol;
    align-items: flex-start;
    position: relative;
    background-color: rgba($midnight-black, .4);

    .contact__content{
        width: 70%;
        z-index: 10;
        margin: 0 auto 0 auto;
        .contact__title{
            h2{
                font-size: 38px;
                font-weight: 800;
                color: $light-gray;
            }
        }
    
        .contact__description{
            margin: 10px 0 0 0;
            p{
                font-size: 24px;
                font-weight: 400;
                font-family: $rubik;
                color: $stone-gray;
                
                a{
                    text-decoration: underline;
                    color: $light-gray;
                }
            }
        }
    }

    .contact__filter{
        z-index: 1;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100vw;
        height: 100vh;
        z-index: 10;
        backdrop-filter: blur(100px);  
        -webkit-backdrop-filter: blur(100px);        
    }
    
    .contact_ellipses{
        
        z-index: -10;
    }
}