@import './variables.scss';

@mixin centerDivsRow{
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin centerDivsCol{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@mixin containerWidth {
    width: 100vw;
    height: 90%;
}

@mixin sectionTitle{
    font-weight: 700;
    font-size: 2.5rem;
    color: $light-gray;
    margin-bottom: .3em;


    @media only screen and (min-width: 992px) {
        font-size: 1.2rem;
    }
    
    @media only screen and (min-width: 1200px) {
        font-size: 1.5rem;
    }

    @media only screen and (min-width: 1450px) {
        font-size: 1.8rem;
    }

}

@mixin sectionParagraph { 
    font-weight: 500;
    color: $stone-gray;

    @media only screen and (min-width: 992px) {
        font-size: 1rem;
    }
    
    @media only screen and (min-width: 1200px) {
        font-size: 1.2rem;
    }

    @media only screen and (min-width: 1450px) {
        font-size: 1.3rem;
    }
}

/* Extra small devices (phones, less than 576px) */
@media only screen and (max-width: 575.98px) {}

/* Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}

/* Extra large devices (wide screens, 1400px and up) */
@media only screen and (min-width: 1450px) {}