

@mixin centerDivsRow{
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin centerDivsCol{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@mixin containerWidth {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto 0 auto;
}