

@mixin centerDivsRow{
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin centerDivsCol{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}