@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

// Custom Font
$poppins: 'Poppins', sans-serif;

//Dark mode Color Palette
$midnight-black: rgb(24,25,26);
$charcoal-gray: rgb(36,37,38);
$dark-gray: rgb(58,59,60);
$light-gray: rgb(228,230,235);
$stone-gray: rgb(176,179,184);
