@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

// Custom Font
$poppins: 'Poppins', sans-serif;
$rubik: 'Rubik', sans-serif;

//Dark mode Color Palette
$midnight-black: rgba(24,25,26,1);
$charcoal-gray: rgba(36,37,38,1);
$dark-gray: rgba(58,59,60,1);
$light-gray: rgb(245, 245, 245);
$stone-gray: rgba(176,179,184,1);
