@import '../../scss/abstracts/variables.scss';
@import '../../scss/abstracts/mixins.scss';

.aboutme__container{
    z-index: 10;
    width: 100vw;
    height: 100%;
    @include centerDivsCol;
    background-color: rgba($midnight-black, .4);

    .aboutme__wrapper{
        @include centerDivsCol;
        @include containerWidth;
        align-items: flex-start;    
        width: 70%;
        margin: auto;
        .aboutme__description{
            h2{
                @include sectionTitle;
            }
            p{
                @include sectionParagraph;
            }
        }

        .aboutme__cards_container{
            width: 100%;
            @include centerDivsRow;
            #aboutme__info_container{
                margin: 20px 10px 0 10px; 
                background-color: rgba($charcoal-gray, .5);
                border: 1px solid $dark-gray;
                border-radius: 10px; 
                font-family: $rubik;
                width: 100%;

                @media only screen and (min-width: 1200px) {
                    height: 420px;
                }
                
                @media only screen and (min-width: 1450px) {
                    height: 480px;
                }
            }
        }
    }
}