@import '../abstracts/variables';

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*::selection{
    color: #fff;
    background-color: $secondary-color;
}